/* CC image: https://www.flickr.com/photos/phinhall/30575711337/in/photolist-NzSvJR-YycUAd-e61Xn4-4oe7vG-pbSSLX-TYswP2-29hMYth-p5fb7S-YvYHWd-dPybWS-arAdW5-9tzGaK-ZGeNUb-dn8AwU-TYrQrZ-9qcMf6-24Ut8T1-aSVBAF-NY2n2z-bsEWwB-q1S3mH-Vd7ZQg-7GiL3V-YDyZHS-aSVBnX-eah94U-cuASyo-NcgMvH-27iJJzT-dX78pJ-e45mt2-poPtmU-2eHvhWq-dX1zgv-pLfxbc-ZAaYtf-V1pZcM-nvbYmv-cpMDRG-YvYFwo-nwu3oz-ciK3fh-a7AvYy-V9v2qG-bWBbLP-7i67au-Vd6JxK-8AshdF-4ost6x-8HE29g */

body {
  background-image: url('001.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}

main {
  height: 100vh;
  padding-top: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px;
  border-radius: 3px;
}

.btn-primary {
  color: #363d42;
  background-color: #90b5cc;
  border-color: #778c99;
}

.active a {
  color: #363d42 !important;
  background-color: #90b5cc !important;
  border-color: #778c99 !important;
}

/* select all columns */
[class^="col"] {
  background-color:pink;
}

.col-3 {
  width: 33vw;
}

.col-4 {
  width: 25vw;
}

.col-5 {
  width: 50vw;
}

.col-12 {
  width: 100vw;
}

.card {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
}

.text-center {
  text-align: center;
}

a:visited {
  color: #363d42;
}

.list-group-item {
  padding: 4px;
  text-decoration: none;
}

.active {
  background-color: #90b5cc;
  color: #363d42;
  background-color: #90b5cc;
  border-color: #778c99;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding: 0;
  margin: 25px 0;
}

.list-item-left {
  align-self: flex-start;
}

.list-item-right {
  align-self: flex-end;
}

.list-spacer {
  padding: 0 20px;
}